name: Stable

on:
  schedule:
    # Run every 2 hours
    - cron: "0 */2 * * *"
  workflow_dispatch:  # manual trigger

jobs:
  demo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        marker: [main, additional]
    name: ${{ matrix.marker }} demo examples
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      CLEANLAB_PROJECT_ID: ${{ secrets.CLEANLAB_PROJECT_ID }}
      CODEX_API_KEY: ${{ secrets.CODEX_API_KEY }}
    steps:
      - uses: actions/checkout@v5
      - uses: pypa/hatch@install
      - name: Download knowledge base
        run: curl -o data/kb.json https://cleanlab-public.s3.us-east-1.amazonaws.com/airline-agent/kb.json
      - name: Create vector database
        run: hatch run create-vector-database
      - name: Run ${{ matrix.marker }} demo examples
        run: hatch test tests/stable -m ${{ matrix.marker }} -v