name: Stable

on:
  schedule:
    # Run every 2 hours
    - cron: "0 */2 * * *"
  workflow_dispatch:  # manual trigger

jobs:
  demo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        marker: [main, additional]
    name: ${{ matrix.marker }} demo examples
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      CLEANLAB_PROJECT_ID: ${{ secrets.CLEANLAB_PROJECT_ID }}
      CODEX_API_KEY: ${{ secrets.CODEX_API_KEY }}
    steps:
      - uses: actions/checkout@v5
      - uses: pypa/hatch@install
      - name: Download knowledge base
        run: curl -o data/kb.json https://cleanlab-public.s3.us-east-1.amazonaws.com/airline-agent/kb.json
      - name: Create vector database
        run: hatch run create-vector-database
      - name: Run ${{ matrix.marker }} demo examples and collect results
        env:
          RUN_DATE: ${{ github.run_started_at }}
          MARKER: ${{ matrix.marker }}
        run: |
          mkdir -p results
          hatch test tests/stable -v -m {env:MARKER:main} --capture=tee-sys --json-report --json-report-file=results/report.json
  summarize:
    runs-on: ubuntu-latest
    name: prepare stability report
    needs: demo
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          path: results
      - name: Merge all reports
        run: |
          python scripts/append_test_results.py main
          python scripts/append_test_results.py additional
          python scripts/aggregrate_test_results.py
      - name: Commit summary
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add stability_data.json STABILITY.md
          git commit -m "Update stability report"
          git push